header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-color);
}

.nav-logo {
    white-space: nowrap;
}

nav {
    padding: 1em;
}

.nav-container {
    display: flex;
}

div.nav-links a, div.nav-container button, a.nav-logo {
    padding: 1em;
    align-items: center;
}

div.nav-links {
    display: flex;
    justify-content: center;
}

div.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


